h1 TSA Claims (2012-2014)
#map(style="width:90vw; height:60vh;")

p
  | This app shows TSA claims from 2012 to 2014. Each circle marks an airport, and
  | the size of the circle represents the total volume of claims at that
  | location. Clicking on a circle opens a chart of monthly close amounts
  | separated by claim outcome. The map is interactive: It supports pan and zoom,
  | as well as rotation, if you have a mobile device or a touchscreen.

p
  | This app was created with #[a(href="http://opengeoscience.github.io/geojs/" target="_blank") GeoJS],
  | #[a(href="https://c3js.org" target="_blank") C3] and data from
  | the #[a(href="https://www.dhs.gov/tsa-claims-data" target="_blank") Department of Homeland Security].
